* {
  box-sizing: border-box; 
  font-family: 'Lato', sans-serif;
}

/*:focus {
 /* TODO 
}*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right,#ec9f05 0%,#ff4e00 74%);
}

input {
 background-color: #FFAE42;
 border: none;
 height: 2.5rem;
 width: 15rem;
 padding-left: .25rem;
}

.bold {
  font-weight: bold;
}

/*.search-container {
}
.search-container input,
.search-container .suggestions {
  /* TODO 
}*/
.search-container input {
  position: relative;
}
.search-container .suggestions {
   position:absolute;
   width: 15rem;
   background-color: #FFAE42;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
/*ul.has-suggestions {
  /* TODO 
}*/
ul li {
  padding: .25rem .25rem;
}
ul li:hover {
  background-color: #ff4e00;
  cursor: pointer;
}
